---
import { getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import { getLandingData } from "@/services/data.service";
const lang = getLangFromUrl(Astro.url);
const data = await getLandingData({ lang });
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <div class="container w-full mr-auto ml-auto pr-8 pl-8">
      <section id="hero-section" class="flex justify-center mt-48">
        <div class="md:w-2/3">
          <h1 class="text-4xl text-center font-semibold md:text-6xl">
            Expliquez-nous vos besoins
            <span class="text-primary"
              >nous vous proposerons des solutions
            </span>
          </h1>
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSclf25QkkDkuDkq7ykqRZEs1hd01eVEG9AU_zgd0fTYsXCm2A/viewform?embedded=true&hl=fr"
            class="w-full mt-8 h-[2000px]"
            height="2000px"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            scrolling="no">Chargement…</iframe
          >
        </div>
      </section>
    </div>
    <Footer data={data.footerData} />
  </main>
</Layout>
